.gcloudignore
.git
.gitignore
.vscode
.next
/.next
src/.next
src/.next/
src/.next-local
src/.next-local/
node_modules
src/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
src/.env
src/.env.local
src/.env.development.local
src/.env.test.local
src/.env.production
coverage
build
dist
out
src/build
src/dist
src/out
backend
README.md
test_supabase.js
*.tsbuildinfo
