.gcloudignore
.git
.gitignore
.vscode
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.cache/
.env
.env.*
*.log
dataset_cache/
*.sqlite3
serviceAccounts*.json
serviceAccount*.json
